@charset "utf-8";

@media screen and (max-width: 640px) {

html, body {
	width: 100%;
	height: 100%;
	background: #fff;
	color: #333;
}

.pc {
	display: none !important;
}

/* -----------------------------------------------------------------------------

	hearder
----------------------------------------------------------------------------- */
.hearder{
	background: #00a1ea;
}


/* nav
---------------------------------------------*/





/* slide
---------------------------------------------*/


/* 小項目 */



/* -----------------------------------------------------------------------------

	hearder
  
----------------------------------------------------------------------------- */


}