@charset "utf-8";
#pageTop {
	position: fixed;
	bottom: 20px;
	right: 20px;
}
.pageTop_icon {
	position: relative;
	display: block;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: #5b99ff;
}
.pageTop_icon::after {
	content: '';
	position: absolute;
	width: 0px;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-top: 24px solid transparent;
	border-right: 14px solid transparent;
	border-left: 14px solid transparent;
	border-bottom: 20px solid #fff;
}
